nav#main-nav
  .toggle
    span Menu
    .burger
      .top
      .middle
      .bottom
  .navigation
    ul.firstLevel
      li
        a(href='#', title='Top Level Link') First Level Link
        span.more-toggle
          +svg('arrow')
        ul.secondLevel
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
                
          li
            a(href='#', title='Second Level Link') Second Level Link
                
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
          
      li
        a(href='#', title='Top Level Link') First Level Link
        span.more-toggle
          +svg('arrow')
        ul.secondLevel
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
                
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
                
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              
      li
        a(href='#', title='Top Level Link') First Level Link
        span.more-toggle
          +svg('arrow')
        ul.secondLevel
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
                
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
                
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link

      li
        a(href='#', title='Top Level Link') First Level Link
        span.more-toggle
          +svg('arrow')
        ul.secondLevel
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
                
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
                
          li
            span.even-more-toggle
              +svg('plus')
            a(href='#', title='Second Level Link') Second Level Link
            ul.thirdLevel
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
              li
                a(href='#', title='Third Level Link') Third Level Link
                          
                          
