header
  background: linear-gradient(rgba(0,0,0, 0.55), rgba(0,0,0, 0.55)), url('../img/hero.jpg') no-repeat center / cover
  color: $white
  padding: 20px
  min-height: 95vh
  position: relative

  .container
    +align(both)
