header
  background: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url('../img/cafe.jpg') no-repeat center / cover
  color: $white
  padding: 20px
  min-height: 95vh
  position: relative

  .container
    +align(both)
